<?xml version="1.0"?>
<configuration>
    <system.web>
    </system.web>
  <system.webServer>
    <caching>
      <profiles>
        <add extension="*" policy="CacheForTimePeriod" duration="00:01:00" location="Any" />
      </profiles>
    </caching>
    <staticContent>
      <clientCache cacheControlMaxAge="365.00:00:00" cacheControlMode="UseMaxAge" />
    </staticContent>
  </system.webServer>
</configuration>
